<html>
<head>

<style>
body {
  display: flex;
  padding: 0;
  background-color: #222;
  animation: myfirst 10s infinite;
  
}

@keyframes flicker {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes myfirst {
    0% {background:#17D440;}
    5% {background:#63204F;}
    10% {background:#90DF1E;}
    15% {background:#FBBA48;}
    20% {background:#C45D57;}
    25% {background:#F6192A;}
    30% {background:#E0BB98;}
    35% {background:#2B5DF8;}
    40% {background:#6C8B12;}
    45% {background:#90DEA5;}
    50% {background:#8B38C7;}
    55% {background:#0343E4;}
    60% {background:#A8E768;}
    65% {background:#C5F44C;}
    70% {background:#A657AD;}
    75% {background:#02A6FC;}
    80% {background:#CF2CCF;}
    85% {background:#6DB3B1;}
    90% {background:#5651E8;}
    95% {background:#6E464D;}
    100% {background:#5DACD8;}
}

#red {
	  animation: flicker .3s ease alternate infinite;
 
}

#blue {
  animation: flicker 1.2s ease alternate infinite;
}

#green {
  animation: flicker .2s ease alternate infinite;
}

#yellow {
  animation: flicker .23s ease alternate infinite;
}

#purple{
  animation: flicker .52s ease alternate infinite;
}

</style>
</head>
<body>
<center>
<div class = "container">
	<div class="row">
	<div class="col-sm">
		
		<div class="row">
			
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #087B5B; color: black" type="submit">what to watch</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #9976B3; color: black" type="submit">what is my ip</button>



		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #3CCB15; color: black" type="submit">why don't we</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #7E57BE; color: black" type="submit">why women kill</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #429B9F; color: black" type="submit">why you always in a mood</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #4B0D29; color: black" type="submit">why is the sky blue</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #7F04DC; color: black" type="submit">why were cornflakes invented</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #73FE60; color: black" type="submit">why not</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #1AC14C; color: black" type="submit">why r u</button>
				

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #58C986; color: black" type="submit">why not me</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #1AC12A; color: black" type="submit">why my poop green</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #A66222; color: black" type="submit">who am i</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #3E8E9B; color: black" type="submit">who are you</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #A80E33; color: black" type="submit">who let the dogs out</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #BFBCBB; color: black" type="submit">who called me</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #F49561; color: black" type="submit">who is the richest person in the world</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #D9EA48; color: black" type="submit">who made me a princess</button>

		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #C488F4; color: black" type="submit">who escaped from alcatraz</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #5D9A9A; color: black" type="submit">who owns google</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #EBE8F1; color: black" type="submit">who died today</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #84B556; color: black" type="submit">when is the next full moon</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #7A295F; color: black" type="submit">when calls the heart</button>


		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #43CE60; color: black" type="submit">when they see us</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #8CEFE6; color: black" type="submit">when you say nothing at all</button>
		    	
		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #293874; color: black" type="submit">how many calories in an apple</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #894725; color: black" type="submit">can we go to heaven with tattoos</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #894725; color: black" type="submit">why would i</button>
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #8CFB09; color: black" type="submit">when harry met sally</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #DA711F; color: black" type="submit">when she loved me</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #D95845; color: black" type="submit">when to work</button>
				

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #EB7ACD; color: black" type="submit">when you love someone</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #6FCA0C; color: black" type="submit">when marnie was there</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #4FABFF; color: black" type="submit">when my love blooms</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #055847; color: black" type="submit">where's my refund</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #C9E25F; color: black" type="submit">where am i</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #EB3056; color: black" type="submit">where have you been</button>

		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #0A5F78; color: black" type="submit">how to lose weight fast</button>
		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #984257; color: black" type="submit">how to pronounce</button>


		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #257D0B; color: black" type="submit">where is xur</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #524CB8; color: black" type="submit">where am i right now</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #C9A20A; color: black" type="submit">where i can find happiness</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #3C6FBD; color: black" type="submit">where the crawdads sing</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #8A8135; color: black" type="submit">where the wild things are</button>

		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #FE8C81; color: black" type="submit">where is</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #45FD5D; color: black" type="submit">where kidneys located</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #BA03D8; color: black" type="submit">how you like that</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #432C45; color: black" type="submit">how to</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #9AEA39; color: black" type="submit">how many ounces in a cup</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #971157; color: black" type="submit">how i met your mother</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #5DB05F; color: black" type="submit">how to screenshot on mac</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #0A5F78; color: black" type="submit">how to lose weight fast</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #E54E10; color: black" type="submit">how are you</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #CD5130; color: black" type="submit">how many weeks in a year</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #23F8BA; color: black" type="submit">how many ounces in a gallon</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #BADC5F; color: black" type="submit">how you doing</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #103D61; color: black" type="submit">does fedex deliver on sunday</button>
				

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #2E63CF; color: black" type="submit">does green tea have caffeine</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #6DC036; color: black" type="submit">does usps deliver on sunday</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #C20C1B; color: black" type="submit">does rice have gluten</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #C65F3B; color: black" type="submit">does he like me</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #0DB2FD; color: black" type="submit">does not equal sign</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #20697D; color: black" type="submit">does naruto die</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #23D87C; color: black" type="submit">does your chain hang low</button>

		    	

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #C26F4D; color: black" type="submit">does tea have caffeine</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #85584A; color: black" type="submit">does walmart take apple pay</button>


		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #B5FE07; color: black" type="submit">is europe a country</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #B88F0E; color: black" type="submit">is today a holiday</button>
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #185B93; color: black" type="submit">can i run it</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #78181D; color: black" type="submit">can dogs eat bananas</button>


		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #F4B1C5; color: black" type="submit">is mercury in retrograde</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #85EBFD; color: black" type="submit">is reddit down</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #8E022A; color: black" type="submit">is shingles contagious</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #2375EA; color: black" type="submit">is it going to rain today</button>
				
				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #D9EA48; color: black" type="submit">who made me a princess</button>

		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #C488F4; color: black" type="submit">who escaped from alcatraz</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #5D9A9A; color: black" type="submit">who owns google</button>
		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #869320; color: black" type="submit">is google down</button>

				<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #DD94B0; color: black" type="submit">is ariana grande married</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #3A4F08; color: black" type="submit">is pluto a planet</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #825733; color: black" type="submit">can you feel the love tonight</button>

		    
		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #72F2BD; color: black" type="submit">can we go to heaven with tattoos</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #0D4E56; color: black" type="submit">can men get pregnant</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #A9CBF0; color: black" type="submit">are we there yet</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #09B361; color: black" type="submit">are banks open today</button>
		    	



		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #84736F; color: black" type="submit">are you afraid of the dark</button>
		    	
		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px; background-color: #F27846; color: black" type="submit">are unicorns real</button>

		    	
		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #298375; color: black" type="submit">are you being served</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px;background-color: #892748; color: black" type="submit">are jellyfish immortal</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #098343; color: black" type="submit">are dragons real</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #029384; color: black" type="submit">are apple watches waterproof</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #892748; color: black" type="submit">are sinus infections contagious</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #098343; color: black" type="submit">are airpods waterproof</button>

		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #029384; color: black" type="submit">how to kiss</button>

		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #298749; color: black" type="submit">how to tie a tie</button>
		    	
		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #984752; color: black" type="submit">how many people are in the world</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #DAB324; color: black" type="submit">how to solve a rubik's cube</button>
		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #C7DC82; color: black" type="submit">what time is sunset</button>
		    	
		    	<button onclick="window.location.href='';" id="yellow" style = "height: 270px; width: 270px; background-color: #EA1D66; color: black" type="submit">what are the 5 love languages</button>

		    	<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px; background-color: #AE6AF7; color: black" type="submit">what would you do</button>
		    	<button onclick="window.location.href='';" id="blue" style = "height: 270px; width: 270px; background-color: #BC23A3; color: black" type="submit">what is computer</button>
				
				<button onclick="window.location.href='';" id="purple" style = "height: 270px; width: 270px;background-color: #5DB05F; color: black" type="submit">how to screenshot on mac</button>
		    	
		    	
		    	<button onclick="window.location.href='';" id="green" style = "height: 270px; width: 270px;background-color: #FACDBA; color: black" type="submit">how to lose belly fat</button>

		    	<button onclick="window.location.href='';" id="red" style = "height: 270px; width: 270px; background-color: #107000; color: black" type="submit">how to get free botox</button>
		    	

		</div>

	
    </div>
  </div>
</div>
</center>

