<html>
<head>

<style>
body {
  
  display: flex;
  padding: 16em;
  margin: auto;
  align-content: center;
  justify-content: center;
  background-color: #000000


}

@keyframes flicker {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

#black{
    
  border-radius: 50%;

  animation: flicker .5s ease alternate infinite;
}

</style>
</head>
<body>

<center>
<div class="text-center">
<form action="{% url 'index8' %}" method="post">    
{% csrf_token %}
  <button id="black" style = "height: 300px; width: 300px; background-color: #FFFFFF; text-align: center" type="submit"></button>
</form>
</div>
</center>