<html>
<head>

<style>
body {
  
  display: flex;
  padding: 16em;
  margin: auto;
  align-content: center;
  justify-content: center;
  background-color: #39FF14;


}

@keyframes flicker {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

#blac{
    
  border-radius: 25%;

  animation: flicker .25s ease alternate infinite;
}

#black{
    
  border-radius: 25%;

  animation: flicker .5s ease alternate infinite;
}

</style>
</head>
<body>

<center>
<div class="text-center">
<form action="{% url 'index11' %}" method="post">    
{% csrf_token %}
  <button id="black" style = "height: 300px; width: 300px; background-color: #000000; text-align: center" type="submit"></button>
  <button id="blac" style = "height: 300px; width: 300px; background-color: #000000; text-align: center" type="submit"></button>
  <button id="black" style = "height: 300px; width: 300px; background-color: #000000; text-align: center" type="submit"></button>
</form>
</div>
</center>